body {
    background: url('../../assets/bg.png') no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

img {
    width: 200px;
    padding: 20px;
    text-align: center;
    opacity: 1;
}

@font-face {
    font-family: "gd";
    src: url("../../fonts/PUSAB.otf");
}

div#demons {
    font-family: 'gd';
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 20px;
}
div#demons:hover {
    background-color: cyan;
    font-family: 'gd';
    padding: 20px;
    font-size: 20px;
}
div#text {
    position: relative;
    left: 500px;
    color: Black;
    padding: 20px;
    font-family: 'gd';
    font-size: 60px;
}
div#paragraph {
    position: relative;
    left: 60px;
    color: black;
    padding: 20px;
    font-family: 'gd';
    font-size: 40px;
}
iframe#vid {
  position: relative;
  left: 500px;
    text-align: center;
    color: darkgrey;
    padding: 20px;
    font-family: 'gd';
    font-size: 40px;
    box-decoration-break:unset;
    text-decoration: none;
    border: none;
}

.sidenav {
  height: 100vh;
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden; 
    padding-top: 20px;
    opacity: 0.5;
  }

  .sidenav:hover {
    height: 100vh;
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden; 
    padding-top: 20px;
    opacity: 1;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #373638;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px;
    padding: 0px 10px;
    position: relative;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }